<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>New reminder</nb-card-header>
        <nb-card-body>
          <form
          [formGroup]="form"
          (ngSubmit)="onSubmit(form.value)">
          <label for="description">Description</label>
          <input name="description" id="description" formControlName="description" type="text" nbInput fullWidth placeholder="Description">
          <label class="margin-top" for="reminderType">Reminder type</label>
          <nb-select name="reminderType" id="reminderType" formControlName="reminderType" fullWidth>
            <nb-option value="SG">Single</nb-option>
            <nb-option value="MT">Monthly</nb-option>
            <nb-option value="QT">Quarterly</nb-option>
            <nb-option value="SM">Semesterly</nb-option>
            <nb-option value="YR">Yearly</nb-option>
          </nb-select>
          <label class="margin-top" for="category">Category</label>
          <nb-select name="category" id="category" formControlName="category" fullWidth>
            <nb-option *ngFor="let category of categories" value="{{category.idCategory}}">{{this.categoryService.getCategoryTypeDescription(category.categoryType) + ' - ' + category.description}}</nb-option>
          </nb-select>
          <div style="display: flex;">
            <div style="width: 100%;">
                <label class="margin-top" for="startDate">Start date</label>
                <input  name="startDate" id="startDate" formControlName="startDate" type="date" nbInput fullWidth placeholder="Start date">
            </div>
            <div style="width: 100%;">
                <label class="margin-top" for="endDate">End date</label>
                <input  name="endDate" id="endDate" formControlName="endDate" type="date" nbInput fullWidth placeholder="End date">
            </div>
          </div>
          <label class="margin-top" for="amount">Amount</label>
          <input name="amount" id="amount" formControlName="amount" type="number" nbInput fullWidth placeholder="Amount">
          <div class="margin-top">
            <nb-checkbox name="active" id="active" formControlName="active">Active?</nb-checkbox>
          </div>
          <button class="margin-top" nbButton type="submit" [disabled]="!form.valid">
            {{buttonDescription}}
          </button>
        </form>
        </nb-card-body>
      </nb-card>
    </div>
  