<nb-card>
    <nb-card-header>
      Category
    </nb-card-header>
  
    <nb-card-body>
    <label class="search-label" for="search">Search:</label>
    <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input">

    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container [nbTreeGridColumnDef]="customColumn">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
          {{customColumn}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <cod-treeview-icon [action]="row.data.action" [items]="row.data.items" [expanded]="row.expanded"></cod-treeview-icon>
          <!-- <label *ngIf="row.data['action'] !== 'add'">{{row.data[customColumn]}} </label> -->
          <button *ngIf="row.data['level'] === 0" nbButton outline status="warning">
            {{row.data[customColumn]}}
          </button>
          <button *ngIf="row.data['level'] !== 0 && row.data['active']" nbButton outline status="primary">
            {{row.data[customColumn]}}
          </button>
          <button *ngIf="row.data['level'] !== 0 && !row.data['active']" nbButton outline status="disabled">
            {{row.data[customColumn]}}
          </button>
          <button *ngIf="row.data['level'] === 1 || row.data['level'] === 2" nbButton outline status="success" (click)="openEditPage(row.data['id'])">
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
          <button *ngIf="row.data['level'] === 0 || row.data['level'] === 1" nbButton outline status="success" (click)="openNewPage(row.data['categoryType'], row.data['id'])">
            <nb-icon icon="plus-outline"></nb-icon>
          </button>
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns; let index = index"
                    [nbTreeGridColumnDef]="column"
                    [showOn]="getShowOn(index)">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
          {{column}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
      </ng-container>

    </table>
    </nb-card-body>
  </nb-card>